@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../../vendor/fonts/Raleway/Raleway-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('../../vendor/fonts/Raleway/Raleway-Italic.woff2') format('woff2')
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../../vendor/fonts/Raleway/Raleway-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('../../vendor/fonts/Raleway/Raleway-BoldItalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../../vendor/fonts/Abril/AbrilFatface-Regular.woff2') format('woff2')
}