#logos
  margin-top: 1.5em

  & > .title
    margin: 2em
    text-align: center

    .made-by-link
      text-decoration: underline
      display: block
      padding-bottom: 1em

    img
      height: 1.5em

  & > .list
    img
      height: 2em
      width: 2em
      margin: 0 .5em
      transition: var(--animation)

      &:hover
        transform: scale(1.15)