#home #header {
    text-align: center;
    margin-top: 8vmin;
    margin-bottom: 16vmin;
    padding: 0 2em;
}

#home #header h1 {
    font-size: 12vw;
    font-family: "Abril Fatface", serif;
}

#home #header h2 {
    font-size: 5.5vw;
}

@media only screen and (min-width: 40em) {
    #home #header h1 {
        font-size: 5em;
    }
}

@media only screen and (min-width: 40em) {
    #home #header h2 {
        font-size: 2em;
    }
}

#home #list-container {
}

#home #list-header {
}

#home #list {
    text-align: left;
    width: 100%;
    padding: 0 2em;
}

@media only screen and (min-width: 40em) {
    #home #list {
        width: var(--text-width);
    }
}

#home #list > .item {
    padding: .25em 1em;
    margin: 1.5em 0;
    transition: all ease .1s;
    border-radius: .5em;
    display: block;
}

#home #list > .item:hover {
    box-shadow: var(--small-shadow);
    transform: scale(1.05);
    padding-bottom: 1em;
}

#home #list > .item .title {
    margin-bottom: .25em;
}

#home #list > .item .thumbnail img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    object-position: center;
    border-radius: .5em;
    transition: var(--animation);
    transform: scale(1);
}

#home #list > .item:hover .thumbnail img {
    transform: scale(1.2) translateY(-1em);
    height: 16em;
    margin: 1em 0;
    box-shadow: var(--small-shadow);
}

#home #list hr {
    margin: 0 1.5em;
}