#logos {
    margin-top: 1.5em;
}

#logos #title {
    margin: 2em;
    text-align: center;
}

#logos #title img {
    height: 1.5em;
}

#logos #list img {
    height: 2em;
    width: 2em;
    margin: 0 .5em;
    transition: var(--animation);
}

#logos #list img:hover {
    transform: scale(1.15);
}