#singular #top img {
    margin: .25em .25em;
    vertical-align: middle;
    transition: var(--animation);
    height: var(--icon-width);
}

#singular #top img:hover {
    transform: scale(1.5);
}

#singular #top img.reduce {
    height: calc(var(--icon-width) * .8);
}

#singular #main {
    padding-top: 8vw;
    overflow-y: auto;
    overflow-wrap: break-word;
}

#singular #main:after {
    content: '';
    height: 16vh;
    display: block;
}

#singular #header {
    text-align: center;
    padding: 0 2em;
    margin-bottom: 5vmin;
}

#singular #header {
    max-width: 60em;
    width: calc(100% - 2em);
}

#singular #header h1 {
    font-size: 4vmax;
}

#singular #content {
    width: 100%;
    padding: 0 1em;
}

#singular #content > * {
    max-width: var(--text-width);
    width: 100%;
    line-height: 1.5;
}


#singular #content .alignfull {
    max-width: initial;
    width: calc(100% + 4em);
}

#singular #content .alignwide {
    max-width: 60em !important;
    width: 100%;
}

#singular #main #content > * a {
    border-bottom: 2px solid var(--clr-black);
}

#singular #content blockquote {
    border-left: 2px solid var(--clr-black);
    padding-left: .5em;
}

#singular #content blockquote > p {
    margin: 0;
}

#singular #content blockquote > cite {
    font-size: .75em;
}

#singular #content pre {
    overflow: auto;
    background-color: var(--clr-ligher);
    padding: 1em;
    border-radius: .25em;
    overflow-wrap: initial;
    tab-size: 4;
}

#singular #content p code {
    background: var(--clr-ligher);
    padding: 0.3em .5em;
    border-radius: .25em;
}

#singular .links > div {
    transform: rotate(180deg) scale(1);
    writing-mode: vertical-rl;
    padding: .25em;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background: var(--clr-white);
    transition: var(--animation);
    width: 2em;
    line-height: 1em;
}

#singular .links > div:hover {
    transform: rotate(180deg) scale(1.5);
}

@media only screen and (min-width: 40em) {
    #singular .links > div {
        padding: 1em;
        width: 3em;
    }

    #singular #top img {
        margin: .25em .5em;
    }

    #singular #top {
        padding: 0 .5em;
    }
}